
.time {
  border: 2px solid #1e293b;
  border-radius: 4px;
}

.points {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 24px;
  width: 100vh;
  height: 120px;
  padding-top: 24px;
}

.total-books-point,
.select-book-point {
  width: 50%;
  border: 2px solid #1e293b;
  border-radius: 4px;
}